<template>
<button @click="show = !show">Hello ...</button>
<Transition name="slide-fade">
  <h1 class="hello" v-if="show">La bière c'est la vie <span style='font-size:50px;'>&#128525;</span></h1>
</Transition>
   
   <section id="beers">
    <div v-for='beer in beers'>
        {{beer.name}}    
        <a v-bind:href="beer.website_url" target="_blank">"{{beer.website_url}}</a>    
    </div>

   </section>
</template>
<script setup>
import {onMounted, reactive, ref} from "vue";
const show =ref(true);
const beers = ref ([]);
onMounted( async() => {
    console.log('je viens de faire un component Beer');
    let url='https://api.openbrewerydb.org/breweries';
    let response = await fetch(url);
    const data = await response.json();
    beers.value = data;
    console.log(data);
})

</script>
<style scoped>
.hello{
    color: red;
    font-size: 30px;
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
