<template>
  <h2>{{ message }}</h2>
  <div @click="changeMessage">click ici</div>
<liste :infos='fruits'>
 <template v-slot:footer>ici c'est le texte du bas pour les fruits</template>
</liste>
<!--   La suite demain sur vos écrans -->
<button @click="show = !show">Toggle</button>
<Transition name="slide-fade">
  <p  class="hello" v-if="show">hello</p>
</Transition>
</template>

<script setup>
import {reactive, ref} from "vue";
import Liste from "./Liste.vue"
const message = ref('Bonjour à tous');
const fruits = reactive(['banane','kiwi', 'pomme','poire'])
const show =ref(true)
function changeMessage()
{
    // ref
  console.log(message)
  message.value = 'Message après avoir click';
}
// reactive
console.log(fruits);


setTimeout(() => {
  message.value = 'Au revoir les amiches';
}, 2000)

</script>

<style>
/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.hello{
    font-size: 50px;
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>

