<template>
   <section id="chuckN">
    
        {{chuck.value}}    
        <a v-bind:href="chuck.icon_url" target="_blank">"{{chuck.icon_url}}</a>     

   </section> 
</template>
<script setup>
import {onMounted, ref} from "vue";

const chuck = ref ();
onMounted(()=> {
    getBlague()
});
 async function getBlague() {
    try{
      console.log('je viens de faire un component chuck');
    let url='https://api.chucknorris.io/jokes/random';
    let response = await fetch(url);
    const data = await response.json();
    chuck.value = data;
    console.log(data);   
    }catch(e){
        console.log(e);
    }
   
}
</script>
<style scoped>

</style>