<template>
  <p>ici une liste</p>
  {{ infos }}
  <ul>
    <li v-for="item in infos">{{ item }}</li>
  </ul>
  <slot name="footer"></slot>
</template>
<script setup>
const props = defineProps(["infos"]);
</script>
<style scoped></style>
