<template>
  <h2>Jeux du memory</h2>

  <div v-if="!starter">
      <p> Action de commencer la partie </p>
    <button @click="goPartie">Lancer la partie</button>
  </div>

  <div v-else-if="starter">
  <div v-for="(image, index) in images">
{{image.img}}
<img src="../assets/stickers-carte-a-jouer-dos-62x90-mm.jpg.jpg" alt="">

    <img v-show="!image.open" src="../assets/carte.jpeg" alt="">
    <img v-show="image.open" src="'https://picsum.photos/id/'+image.img+'237/183/250'" alt="">

</div>
  </div>


</template>

<script setup>
import {ref} from "vue";
const images = ref([
    // {img: 237, open}
])
const countcard = ref(10);
const starter = ref(false);
function goPartie()
{
  starter.value = true;
 for (let i = 0; i < countcard.value; i++) {
    images.value.push({img: 240, open: true});
    images.value.push({img: 240, open: false}) 
    }}
    
</script>

<style scoped>
h2 {
  text-align: center;
  font-size: 2rem;
}
</style>
