<script setup>
import HelloWorld from './components/HelloWorld.vue'
import TheWelcome from './components/TheWelcome.vue'
import Bonjour from "./components/Bonjour.vue"
import Beer from"./components/Beer.vue"
import Chuck from"./components/Chuck.vue"
import MemoryGame from "./components/MemoryGame.vue";
</script>

<template>
<memory-game></memory-game>
  <!-- <header>
<chuck></chuck> -->
    <!-- <beer></beer> -->
    <!-- <bonjour></bonjour> -->
    <!-- <img alt="Vue logo" class="logo" src="./assets/245623.svg" width="125" height="125" /> -->

    <!-- <div class="wrapper">
      <HelloWorld msg="You did it!" />
    </div> -->
  <!-- </header> -->

  <!-- <main>
    <TheWelcome />
  </main> -->
</template>

<style>

@import './assets/base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
 
}

header {
  line-height: 1.5; display: flex;
  flex-direction: column;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 2rem 0 0;
  }
}
</style>
